.contenedor {
  background: rgb(204, 214, 230);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgb(209, 13, 239)50%,
    rgba(5, 65, 158, 1) 66%
  );
  min-height: 100vh;
}.button{
  margin: 5px;
}


/* Añade transiciones para una animación suave */
.content-container {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.content-container.hidden {
  transform: translateX(-100%);
}

.componente {
  z-index: 1;
}

.aviso {
  font-size: 25px;
}
