/* WhatsAppButton.css */

.offeringsbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.offeringsbutton a {
  display: block;
  width: 60px;
  height: 60px;

  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.offeringsbutton img {
  display: block;
  width: 60px;
  height: 60px;

  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}.title{
  color: white;
  text-shadow: 2px 2px 4px #000
}
