/* Estilos para pantallas grandes (PC) */
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 220, 220);
  color: rgb(198, 220, 220);
  padding: 10px 20px;
  height: 60px;
  margin-bottom: 0.5%;

}

.navcontainer a {
  text-decoration: none;
  color: red(33, 186, 247);
  font-size: 20px;
  margin-right: 20px;
  font-weight: 900;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer; 
}

.navcontainer a:hover {
  color: rgba(192, 100, 209, 0.835);
  transform: scale(1.1);
}

.navcontainer img {
  display: block;
  width: 60px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.navcontainer img:hover {
  box-shadow: 0 0 20px rgb(210, 3, 247); 

}


@media screen and (max-width: 768px) {
  .navcontainer {
    justify-content: space-between;
    margin-bottom: 2%;
    color: black;
  }.menuicono.active + .linkcontainer {
    width: 22.5rem;
  } 

  .navcontainer a {
    display: none;
  }

  .menuicono {
    display: block;
    font-size: 30px;
    height: 60px; /* Agrega una altura para que sea clickeable */
    cursor: pointer;
  }

  .menuicono.active + .linkcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(198, 220, 220);
    position: absolute;
    top: 60px;
    left: 0;
  
    margin-left: 2%;
    border-radius: 10px;
  }

  .menuicono.active + .linkcontainer a {
    display: block;
    margin: 10px;
  }
}
