/* Footer.module.css */

.containerprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000; /* Color de fondo del footer */
  padding: 20px; /* Espacio interno del footer */
}

.containerprincipal a {
  font-size: 2rem; /* Reducido el tamaño de fuente para dispositivos móviles */
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.containerprincipal a:hover {
  color: rgb(33, 174, 217);
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 768px) {
  .containerprincipal {
    padding: 15px;
  }

  .containerprincipal a {
    font-size: 1.5rem; /* Tamaño de fuente ajustado para dispositivos móviles */
    margin: 0 8px; /* Reducido el margen entre íconos */
  }
}
