
.imageOcho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image h3 {
  font-weight: 800;
  font-size: 50px;
  color: orange;
}

.image span {
  font-weight: 300;
  color: black;
}

.image p {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 15px;
}

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrousel img {
  width: 1000px;
  height: 550px;
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  border-radius: 20px;
}

@media screen and (max-width: 1020px) {
  .carrousel img {
    width: 800px;
    height: 400px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
}

@media screen and (max-width: 820px) {
  .carrousel img {
    width: 500px;
    height: 300px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
}

@media screen and (max-width: 500px) {
  .carrousel img {
    width: 400px;
    height: 250px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
}
