
body{
    background-color:rgba(192, 100, 209, 0.835);
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Ajusta estos estilos según el diseño de tu Navbar */
  .navbar {
    background-color: #333;
    color: white;
    padding: 15px 0;
  }
  
  /* Estilos para las rutas/views */
  .route-container {
    margin-top: 20px;
  }
  
  /* Estilos para el pie de página */
  .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Añade otros estilos según sea necesario */
  